<div>
    <h1>Cocktail</h1>
    <p>Höchste Priorität hat bei uns der Wohlfühlfaktor. Kommt also nur in Kleidung in der Ihr euch wohlfühlt! Wer dennoch eine kleine Richtlinie haben möchte, findet hier einen kleinen Vorschlag.</p>
    <div class="container">
        <div class="wrapper">
            <mat-icon [svgIcon]="'dress'"></mat-icon>
            Frauen tragen ein sommerliches Kleid, einen eleganten Einteiler oder ähnliches.
        </div>
        
        <div class="wrapper">
            <mat-icon [svgIcon]="'suite'"></mat-icon>
            Männer kommen im stilvollen Anzug, wer will trägt dazu Krawatte oder Fliege. Eine legere Alternative wäre eine elegante Chinohose mit Hemd.
        </div>
    </div>
</div>