@use '@angular/material' as mat;

div {
    float: center;
    text-align: center;

    div {
        width: max(300px, 50%);
        margin: 128px auto;

        a[href] {
            text-decoration: none;
            color: mat.get-color-from-palette(mat.$teal-palette, 800);
        }
    }
}