@use 'vars';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; background: var(--color-primary-50-7); color: vars.$text;}
body { margin: 0; font-family: Bitter, sans-serif; }

button { color: vars.$text; }

iframe {
    width: 100%;

    @media (max-width: vars.$breakpoint) {
        height: 160px;
    }
}
