<mat-card>
    <h1>Herzlich Willkommen</h1>
    <mat-card-content>
        
        <form [formGroup]="form" (ngSubmit)="changePassword()">
            <mat-form-field appearance='outline'>
                <mat-label>Altes Passwort*</mat-label>
                <input matInput type="password" placeholder="Altes Passwort" formControlName="old_pw">
                <mat-error>Das alte Passwort wird benötigt</mat-error>
            </mat-form-field>
            <mat-form-field appearance='outline'>
                <mat-label>Neues Passwort*</mat-label>
                <input matInput type="password" placeholder="Passwort" formControlName="pw1">
                <mat-error *ngIf="f.pw2.errors">Bitte gib ein neues Passwort ein.</mat-error>
            </mat-form-field>
            <mat-form-field appearance='outline'>
                <mat-label>Passwort bestätigen*</mat-label>
                <input matInput type="password" placeholder="Passwort" formControlName="pw2">
                <mat-error *ngIf="f.pw2.touched && f.pw2.invalid && f.pw2.errors">
                    <span *ngIf="f.pw2.errors.required">Bitte bestätige dein Passwort.</span>
                    <span *ngIf="f.pw2.errors.confirmValidator">Beide Passwörter stimmen nicht überein.</span>
                </mat-error>
            </mat-form-field>

            <button mat-button type="submit">Passwort ändern</button>
        </form>
    </mat-card-content>
</mat-card>
