<mat-card>
    <h1 *ngIf="authService.loggedUser?.firstLogin">Herzlich Willkommen!</h1>
    <h1 *ngIf="!authService.loggedUser?.firstLogin">Passwort ändern</h1>
    <mat-card-content>
        <p *ngIf="authService.loggedUser?.firstLogin">Bitte ändere als ersten Schritt dein Passwort.</p>
        
        <form [formGroup]="form" (ngSubmit)="changePassword()">
            <mat-form-field appearance='outline'>
                <mat-label>Altes Passwort*</mat-label>
                <input matInput type="password" placeholder="Altes Passwort" formControlName="old_pw">
                <mat-error *ngIf="(f.old_pw.touched && f.old_pw.invalid && f.old_pw.errors)">
                    <span *ngIf="f.old_pw.errors.required">Bitte gib dein altes Passwort ein.</span>
                </mat-error>
                <mat-error *ngIf="wrongCredentials">Das alte Passwort war nicht korrekt.</mat-error>
            </mat-form-field>
            <mat-form-field appearance='outline'>
                <mat-label>Neues Passwort*</mat-label>
                <input matInput type="password" placeholder="Passwort" formControlName="pw1">
                <mat-error *ngIf="f.pw1.errors">Bitte gib ein neues Passwort ein.</mat-error>
            </mat-form-field>
            <mat-form-field appearance='outline'>
                <mat-label>Passwort bestätigen*</mat-label>
                <input matInput type="password" placeholder="Passwort" formControlName="pw2">
                <mat-error *ngIf="f.pw2.touched && f.pw2.invalid && f.pw2.errors">
                    <span *ngIf="f.pw2.errors.required">Bitte bestätige dein Passwort.</span>
                    <span *ngIf="f.pw2.errors.confirmValidator">Beide Passwörter stimmen nicht überein.</span>
                </mat-error>
            </mat-form-field>

            <button mat-button type="submit">Passwort ändern</button>
        </form>
    </mat-card-content>
</mat-card>
