@use 'vars';

mat-form-field, table, tr {
    width: 100%;

    .user {
        color: vars.$secondary-text;
    }

    .icon-column {
        width: 50px;
    }

    mat-checkbox {
        margin: 0 12px;
    }
}

.div-table {
    overflow-y: auto;

    @media (max-width: vars.$breakpoint) {
        margin-left: -24px;
        margin-right: -24px;
    }
}

tr {

    &:hover .edit {
        display: block;
    }

    .edit {
        display: none;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    
    .stat-wrapper {
        flex: 0 0 auto;
        width: 250px;
        text-align: center;

        .stat span {

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
        
            span, mat-icon {
                flex: 0 0 auto;
            }
        }
    }
}