<mat-expansion-panel [expanded]="expanded" (opened)="this.opened.emit()" (closed)="this.closed.emit()" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
          Gäste
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="flex-container">
        <div class="stat-wrapper">
            <h3>Rückmeldungen (Ja / Nein / Total):</h3>
            <div class="stat">
                <span><mat-icon [svgIcon]="agesIcons.ADULT"></mat-icon><span>{{agesLabels.ADULT}}: {{ guestService.adults | vector }} </span></span>
            </div>
            <div class="stat">
                <span><mat-icon>{{agesIcons.CHILD}}</mat-icon><span>{{agesLabels.CHILD}}: {{ guestService.children | vector }}</span></span>
            </div>
            <div class="stat">
                <span><mat-icon>{{agesIcons.INFANT}}</mat-icon><span>{{agesLabels.INFANT}}: {{ guestService.infants | vector }}</span></span>
            </div>
            <div class="stat">
                <span><mat-icon>functions</mat-icon><span>Gesamt: {{ guestService.adults.add(guestService.children).add(guestService.infants) | vector }}</span></span>
            </div>
        </div>
    
        <div class="stat-wrapper">
            <h3>Ernährungsweise:</h3>
            <div class="stat">
                <span><mat-icon [svgIcon]="dietIcons.VEGAN"></mat-icon><span>Vegan: {{ guestService.vegan }} / {{guestService.adults.add(guestService.children).add(guestService.infants).total}}</span></span>
            </div>
            <div class="stat">
                <span><mat-icon [svgIcon]="dietIcons.VEGETARIAN"></mat-icon><span>Vegetarisch: {{ guestService.vegetarian }} / {{guestService.adults.add(guestService.children).add(guestService.infants).total}}</span></span>
            </div>
            <div class="stat">
                <span><mat-icon [svgIcon]="dietIcons.NORMAL"></mat-icon><span>mit Fleisch: {{ guestService.normal }} / {{guestService.adults.add(guestService.children).add(guestService.infants).total}}</span></span>
            </div>
        </div>
    
        <div class="stat-wrapper">
            <h3>Allergien/Intoleranzen:</h3>
            <div class="stat" *ngFor="let allergy of allergies; index as idx">
                <span><mat-icon [svgIcon]="allergiesIcons[allergy]"></mat-icon><span>{{allergiesLabels[allergy]}}: {{guestService.allergiesCounter.vector[idx]}}</span></span>
            </div>
            <div class="stat">
                <span>Andere Angaben: <ul><li *ngFor="let a of guestService.otherAllergies">{{a}}</li></ul></span>
            </div>
        </div>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
    </mat-form-field>
    <div class="div-table">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="user" matSortDirection="asc">
      
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                <td mat-cell *matCellDef="let row" class="user"> {{row.user}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="!row.editMode">{{row.name}}</span>
                    <mat-form-field appearance="outline" *ngIf="row.editMode">
                        <input matInput [(ngModel)]="row.name">
                    </mat-form-field>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="!row.editMode">{{row.lastname}}</span>
                    <mat-form-field appearance="outline" *ngIf="row.editMode">
                        <input matInput [(ngModel)]="row.lastname">
                    </mat-form-field>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="icon-column"> Alter </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="!row.editMode && row.age === ages[2]" [svgIcon]="agesIcons.ADULT"></mat-icon>
                    <mat-icon *ngIf="!row.editMode && row.age !== ages[2]">{{agesIcons[row.age]}}</mat-icon>
                    <mat-form-field appearance='outline' *ngIf="row.editMode">
                        <mat-select [(ngModel)]="row.age">
                            <mat-option *ngFor="let age of ages" [value]="age">{{ agesLabels[age] }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="diet">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="icon-column"> Essensform </th>
                <td mat-cell *matCellDef="let row">
                
                    <mat-icon *ngIf="!row.editMode" [svgIcon]="dietIcons[row.diet]"></mat-icon>
                    <mat-form-field appearance='outline' *ngIf="row.editMode">
                        <mat-select [(ngModel)]="row.diet">
                            <mat-option *ngFor="let diet of diets" [value]="diet">{{ dietsLabels[diet] }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="isRegistered">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="icon-column"> Zu-/Absage </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="row.isComing && !row.editMode">done</mat-icon>
                    <mat-icon *ngIf="row.isComing === false && !row.editMode">close</mat-icon>
    
                    <mat-checkbox *ngIf="row.editMode" [(ngModel)]="row.isComing"></mat-checkbox>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button class="edit" (click)="row.editMode = !row.editMode">
                        <mat-icon *ngIf="!row.editMode">edit</mat-icon>
                        <mat-icon *ngIf="row.editMode" (click)="saveChanges(row)">done</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button class="edit" (click)="deleteGuest(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">Keinen Treffer für die Suche "{{input.value}}"</td>
            </tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Gäste pro Seite"></mat-paginator>
</mat-expansion-panel>