<h3>Kostenstellen:</h3><button mat-icon-button (click)="addCostCenter()"><mat-icon>add</mat-icon></button>
<p>Unter Kosten werden die gesamten Kosten angezeigt. Bei Kosten pro Person, werden die Kosten mit der Anzahl an Gästen auf der Gästeliste mutlipliziert.</p>
<div>Geladene Gäste: <h4>{{guests}}</h4></div>

<mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter (unterstützt 'bezahlt' und 'pPers')" [(ngModel)]="filter" #input>
</mat-form-field>

<div class="div-table" *ngIf="costCenters">
    <table mat-table [dataSource]="costCenters" matSort matSortActive="paid" matSortDirection="asc">
  
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zweck </th>
            <td mat-cell *matCellDef="let row"> 
                <span *ngIf="!row.editMode">{{row.title}}</span>
                <mat-form-field *ngIf="row.editMode" appearance="outline">
                    <input matInput [(ngModel)]="row.title">
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef><b> Total </b></td>
        </ng-container>
      
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategorie </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="!row.editMode">{{getCategoryLabel(row.category)}}</span>
                <mat-form-field *ngIf="row.editMode" appearance="outline">
                    <mat-select [(ngModel)]="row.category">
                        <mat-select-trigger>
                            {{displayCategory(row.category)}}
                        </mat-select-trigger>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let option of categories" [value]="option.id">
                          {{option.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <ng-container matColumnDef="paid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bezahlt </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.paid && !row.editMode">done</mat-icon>

                <mat-checkbox *ngIf="row.editMode" [(ngModel)]="row.paid"></mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef><b> {{getTotalPaid() | currency:'EUR':'symbol' }} </b></td>
        </ng-container>

        <ng-container matColumnDef="per_person">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pro Gast ({{guests}}) </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.per_person && !row.editMode">done</mat-icon>

                <mat-checkbox *ngIf="row.editMode" [(ngModel)]="row.per_person"></mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef><b> {{getTotalCostPerPerson() | currency:'EUR':'symbol':'.2-2' }} </b></td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kosten </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="!row.editMode && row.per_person">{{row.amount * guests | currency:'EUR':'symbol':'.2-2'}}</span>
                    <span *ngIf="!row.editMode && !row.per_person">{{row.amount | currency:'EUR':'symbol':'.2-2' }}</span>
                <mat-form-field *ngIf="row.editMode" appearance="outline">
                    <input matInput type="number" min="0.0" [(ngModel)]="row.amount">
                    <mat-error>Der Betrag darf nicht leer und muss positiv sein.</mat-error>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef><b> {{getTotalCost() | currency:'EUR':'symbol':'.2-2' }} </b></td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button class="edit" (click)="toggleEditMode(row)">
                    <mat-icon *ngIf="!row.editMode">edit</mat-icon>
                    <mat-icon *ngIf="row.editMode" (click)="saveChanges(row)">done</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
      
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button class="edit" (click)="deleteCostCenter(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7" *ngIf="costCenters.data.length > 0">Keinen Treffer für die Suche "{{input.value}}"</td>
            <td class="mat-cell" colspan="7" *ngIf="costCenters.data.length == 0">Keine Daten vorhanden.</td>
        </tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Kostenstellen pro Seite"></mat-paginator>
