<div fxLayout="column" fxLayoutAlign="center center">
    <div>Alle Fotos werden wir mit euch über die App <b>celebrate</b> teilen. Dort kann jeder über sein Smartphone Fotos hochladen. Somit kann jeder seine Erinnerungen mit uns auf einfache Art und Weise teilen.<br>Und so gehts:</div>
    <img src="assets/celebrate.png">
    <div>
        1. QR-Code scannen<br>
        2. Anweisungen folgen<br>
        <br>
        oder
        <br>
        1. <b>celebrate</b> App installieren<br>
        2. Album <b>PLFMWV</b> hinzufügen
    </div>
</div>