div {
    padding: 16px;

    div:not(:first-child) {
        margin-top: 24px;
    }

    h3 {
        line-height: 48px;
    }

    .categories {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    app-budget {
        display: inline-block;
    }


    p {
        color: grey;
    }
}