<div *ngIf="data">
    <h2>Budget:</h2>
    <span>
        <div>gesamt: <app-budget [spent]="data.spent_total" [budget]="data.budget" (change)="changeBudget($event)"></app-budget></div>
    </span>

    <h3>Kategorien:</h3>
    <span class="categories">
        <app-category 
            *ngFor="let category of categories"
            [category]="category"
            (change)="updateCategory($event)"
            (delete)="deleteCategory($event)">
        </app-category>
    </span>
    <button mat-icon-button (click)="addCategory()"><mat-icon>add</mat-icon></button>   

</div>
<div *ngIf="!data">Keine Daten gefunden.</div>