div {
    padding: 12px;

    @media (min-width: 786px) {
        padding: 24px;
    }

    mat-card {
        width: 560px;
        height: 353px;
        display: inline-block;
        margin: 12px;
    }
}