<div class="background"></div>
<div class="desktop">
  <mat-toolbar *ngIf='authService._isLoggedIn && authService.loggedUser && !authService.loggedUser.firstLogin'>
      <span class="logo"><mat-icon [svgIcon]="'wedding'"></mat-icon></span>
      <button *ngFor="let item of navItems" mat-button [routerLink]='item.link' [class.active]="router.isActive(item.link, true)">{{item.text}}</button>

      <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-button routerLink='/user/change-password'>Passwort ändern</button>
        <button mat-button *ngIf="authService.loggedUser.isAdmin" routerLink='/user/admin'>Admin</button>
        <button mat-button (click)='logout()'>Logout</button>
      </mat-menu>
  </mat-toolbar>
</div>

<div class="mobile">
  <mat-accordion *ngIf='authService._isLoggedIn && authService.loggedUser && !authService.loggedUser.firstLogin'>
    <mat-expansion-panel [expanded]="menuExpanded" (opened)="menuExpanded = true" hideToggle>
      <mat-expansion-panel-header><span class="logo"><mat-icon [svgIcon]="'wedding'"></mat-icon></span>
  
        <button mat-icon-button aria-label="Menü" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <button *ngFor="let item of navItems" mat-button (click)="nav(item.link)" [class.active]="router.isActive(item.link, true)">{{item.text}}</button>

      <button mat-button routerLink='/user/change-password'>Passwort ändern</button>
      <button mat-button *ngIf="authService.loggedUser.isAdmin" routerLink='/user/admin'>Admin</button>
      <button mat-button (click)='logout()'>Logout</button>
    </mat-expansion-panel>
    
    
  </mat-accordion>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="version">v1.1.0</div>
